# --- Environment & Secrets ---
.env
*.env
.env.*

# --- Python cache & compiled files ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Virtual environments ---
venv/
.venv/

# --- IDE / Editor files ---
.vscode/

# --- Local databases or artifacts ---
*.db
*.sqlite3

# --- Miscellaneous
progress.md
progv2.md
